.w3eden {
  form {
    .form-control {
      font-size: 1rem;
      line-height: 1rem;
      height: 2rem;
      ;
    }

    label {
      margin-bottom: 0;
    }
  }

  .breadcrumb {
    i {
      margin-top: 7px;
    }
  }

  .wpdm-categories {
    .dropdown-toggle:after {
      display: none;
    }

    .wpdm-cat-link {
      @extend .bg-primary;
      @extend .text-white;
      font-size: $small-font-size; //14px;
    }
  }

  .btn-ddm {
    height: 34px !important;

    .fa-chevron-down {
      vertical-align: text-top;
      font-size: $small-font-size; //14px;
    }
  }

  p.small {
    @extend .text-black-50;
    margin-bottom: 0;
    text-align: right;

    & + .yyi-rinker-contents {
      margin: 0 0 1.5em 0;
    }
  }
}

// Download Monitor
.wpdm-downloads {
  .card {
    margin-bottom: 1rem;
  }

  h4.card-title {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: white;
    font-weight: 400;
    font-size: 1rem;
  }

  .card-body {
    padding: .5rem
  }

  .card-text {
    @extend .text-secondary;
  }

  ul.pagination {
    @extend .pagination-sm;

    li {
      @extend .page-item;

      a,
      span {
        @extend .page-link
      }

      .current {
        @extend .bg-primary;
        @extend .text-light;
      }
    }
  }
}

// download page btn
//.wpdm-download-link.__wpdm_download_btn__ {
//  @extend .btn;
//  @extend .btn-outline-colal2019;
//  margin: 17px 0 3rem 0;
//}
