// searchandfilter
.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.searchandfilter {

  //font-size: $font-size-sm;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0;

      label {
        margin-bottom: 0;
        display: block;
      }
    }
  }

  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  select {
    @extend .form-control;
    //@extend .form-control-sm;
  }

  input[type=search] {
    -webkit-appearance: none;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    //@extend .btn-sm
  }

  a.search-filter-reset {
    @extend .btn;
    @extend .btn-outline-secondary;
    //@extend .btn-sm
  }
}

.footer-widget,
.static-hero-widget {
  form.searchandfilter {
    ul {
      @extend .form-row;

      li {
        @extend .col-md-4;
        @extend .col-sm-6;
        @extend .col-12;
        margin-bottom: 10px;

        &.sf-field-submit,
        &.sf-field-reset {
          @extend .col-md-2;
          @extend .col-sm-2;
          @extend .col-6;
          margin-bottom: 0;
          text-align: left;
        }

        &.sf-field-search {
          margin-bottom: 9px;
        }

        ul {
          display: flex;
        }

        &.sf-field-post-meta-wpcf-start-era {
          ul {
            padding: .5rem;

            li {
              position: relative;
              display: block;
              padding-left: 1.25rem;

              .sf-input-radio {
                @extend .form-check-input;
              }

              label.sf-label-radio {
                margin-top: .2rem;
              }
            }
          }
        }
      }
    }
  }
}

//  (576px)
@include media-breakpoint-down(xs) {
  .footer-widget {
    form.searchandfilter {
      ul li {
        &.sf-field-post-meta-wpcf-start-era {
          margin-bottom: 0;

          ul {
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            padding: 0;

            li {
              flex: 0;
            }
          }
        }

        &.sf-field-submit,
        &.sf-field-reset {
          text-align: center;
        }
      }
    }
  }
}

/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/
// keep a max width in case it is just the form and nothing else
// we do not want a form spanning whole page
.wpcf7 {
  max-width: 600px;
  margin: 0 auto !important;

  // all inputs except radios and checkboxes inherit from form-control
  input[type=text],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=range],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=color],
  input[type=email],
  input[type=file],
  input[type=submit],
  select,
  textarea {
    @extend .form-control;
  }

  // submit button, inherit .btn and .btn-outline-primary classes.
  input[type=submit] {
    @extend .btn;
    @extend .btn-outline-primary;
  }

  .wpcf7-form {

    // set paragraphs to behave like divs with class .form-group
    p {
      @extend .form-group;
    }

    // let labels be 100%
    label {
      width: 100%;
    }
  }

  // not valid tip for each control
  .wpcf7-not-valid-tip {
    color: theme-color("danger");
  }

  // validation errors ourput bottom of form
  .wpcf7-validation-errors {
    @extend .form-control;
    color: theme-color("danger");
    border: 1px solid $gray-200;
  }
}

// raty
.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png {
  font-size: 1rem;
  color: $warning;
}

.cancel-on-png,
.cancel-off-png,
.star-on-png,
.star-off-png,
.star-half-png {
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "fontawesome";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
  }
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}

//map
.wpgmp_listing_container {

  ul,
  li {
    list-style-type: none;
  }

  .wpgmp_locations {
    .wpgmp_locations_content {
      line-height: 1.6;

      p {
        margin: .5rem 0;
      }
    }
  }
}

// Simple pay free
.simpay-form-control {
  text-align: center;

  .simpay-payment-btn {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-success;
  }
}

// Google auto placed
.google-auto-placed.ap_container {
  margin-bottom: 2rem;
}

// icon
i {
  //.fa-fw
  width: 1.28571429em;
  text-align: center;
}

// search and filter 
.sf-pagenation {
  text-align: center;
  height: 37px;
  vertical-align: middle;
  line-height: 37px;
  margin-bottom: 5px;
}

.line-serch {
  .search-filter-results {
    h2 {
      font-size: 1rem;
      margin: 0;
    }

    .sharedaddy {
      display: none;
    }
  }
}

// toolset
.wpv-filter-form {
  width: 50%;

  .form-control {
    font-size: 14px; //$small-font-size
  }

  label {
    margin-bottom: 0;
  }
}

// jetpack sharing
.sharedaddy {
  @extend .text-center;
  @extend .border-top;
  @extend .border-light;
  @extend .mt-3;
  padding: 1rem 0 .5rem 0;
}

#jp-relatedposts h3.jp-relatedposts-headline em,
.sharedaddy h3.sd-title {
  &::before {
    display: none !important;
  }
}

// Amazon
div.yyi-rinker-contents {
  box-shadow: none !important;
  position: relative;

  ul.yyi-rinker-links li {
    box-shadow: none;
  }

  .yyi-rinker-title a {
    font-weight: 700;
  }
}

// U-next
.u-next {
  margin: .5rem 0 1rem 0;
  padding: 1em;
  border: 1px solid #ddd;
  position: relative;
  display: block;

  h4 {
    font-size: 1rem;
    margin: 0 0 5px;
    padding: 0;
    //background-color: white;
    width: 50%;
    display: inline-block;
  }

  p {
    margin: 0;
  }

  ul {
    font-size: 14px;
  }
}
