table {
  clear: both;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.6;
  margin-bottom: 1rem;
  width: 100%;

  &.bordered {
    border-top: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;

    td,
    th {
      border-right: 1px solid $table-border-color;
      padding: .5em;
    }
  }
}

table.bordered tfoot tr {
  border-bottom: 1px solid $table-border-color;
}

.tablepress {
  border-top: 1px solid $table-border-color;
  border-left: 1px solid #ccc;

  th,
  td {
    border-right: 1px solid $table-border-color;
    border-radius: 0;
    padding: .5em;
  }

  tr {
    border-bottom: 1px solid $table-border-color;
  }

  th {
    font-weight: bold;
    background-color: #e8eaf6; //color('indigo', 'lighten-5');
  }

  .odd td {
    background-color: #ede7f6; //color('deep-purple', 'lighten-5');
  }

  .even td {
    background-color: #fff;
  }

  .row-hover tr:hover td {
    background-color: #ede7f6; //color('deep-purple', 'lighten-5');
  }

  img {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.entry-content h2.tablepress-table-name {
  margin-top: 1rem;
  border-bottom: none;
  padding: 0;
  font-size: 1rem;
}

.tablepress-scroll-wrapper table {
  min-width: 100%;
  width: auto;
}

.tablepress-table-description {
  font-size: 14px;
  line-height: 1.6;
  color: #989898;
  clear: both;
  display: block;
  margin-bottom: 1rem;
}

.war-table td {
  vertical-align: top;
}
