// TOC
$tree-menu-padding: $small-font-size;

@include media-breakpoint-down(sm) {
  .toc_widget {
    display: none;
  }
}

.toc_widget {
  margin-top: 2rem;
}

.toc_widget_list,
.toc_list {
  margin: 0;
  padding: 0;
  line-height: $tree-menu-padding;
}

.toc_widget_list,
.toc_widget_list ul,
.toc_list,
.toc_list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    display: block;
    line-height: ($tree-menu-padding) !important;
    padding: 0;
    height: auto;
  }
}

.toc_widget_list > li,
.toc_list > li {
  margin-bottom: ($tree-menu-padding / 2);
  list-style-type: none;
  padding: ($tree-menu-padding / 2) 0 ($tree-menu-padding / 2) 0;
}

.toc_widget_list ul,
.toc_list ul {
  position: relative;
  margin-top: ($tree-menu-padding / 2) !important;
  margin-left: $tree-menu-padding;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    border-left: 1px solid #ccc;
  }
}

.toc_widget_list ul li,
.toc_list ul li {
  position: relative;
  padding: ($tree-menu-padding / 2) 0 ($tree-menu-padding / 2) $tree-menu-padding;
}

.toc_widget_list ul li,
.toc_list ul li {
  &:last-child {
    padding-bottom: 0;
  }
}

.toc_widget_list ul li,
.toc_list ul li {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: $tree-menu-padding;
    left: 0;
    width: ($tree-menu-padding / 2);
    height: 0;
    border-top: 1px solid #ccc;
  }
}

.toc_widget_list ul li,
.toc_list ul li {
  &:last-child:before {
    top: $tree-menu-padding;
    bottom: 0;
    height: auto;
    background-color: #fff;
  }
}

#toc_container {
  font-size: $small-font-size;
  .toc_title {
    margin: 0;
    font-weight: bold;
    background-color: #eee;
    padding: 0 1rem;
    .toc_toggle {
      font-weight: 400;
    }
  }
  .toc_list {
    padding: 7px 2rem 0 1rem;
    border: 1px solid #eee;
    display: block;
  }
}
