.entry-content {
  line-height: 2.2;
  color: black;

  p,
  ul,
  ol,
  dl {
    margin: 0 0 2em 0;
  }

  h2 {
    font-weight: 700;
    letter-spacing: 1px;

    sub {
      font-weight: 400;
    }
  }

  h3 {
    padding: 1rem;
    background-color: #ede7f6;

    &.sd-title,
    &.jp-relatedposts-headline {
      background-color: white;
      padding: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h4:not(.profile-title) {
    background-color: #fce4ec;
    padding: 10px .5rem;

    a {
      @extend .text-dark;
      font-weight: 700;
    }
  }

  h4.jp-relatedposts-post-title {
    background-color: white;

  }
}

h5,
h6,
.h7 {
  position: relative;
}

h5 {
  background-color: #efebe9;
  padding: 6px .5rem;
}

h6,
.h7 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h7 {
  clear: both;
  margin: 3em 0 1em 0;

  &.clearnone {
    clear: none;
  }

  &.media-heading {
    clear: none;
    background-color: white;
    padding: 0;
  }
}

h3,
h4 {
  font-weight: 400;
}




.memo,
.sanko,
.syosai,
.jinbutu {
  border: 2px solid;
  border-radius: 4px;
  margin: 2em 0;
  padding: 1rem;
  position: relative;

  &:before {
    background-color: #fff;
    font-weight: bold;
    left: 1rem;
    padding: 0 .5em;
    position: absolute;
    top: -0.5rem;
    font-size: .875rem;
    line-height: 1;
  }

  h3,
  h4,
  h5,
  h6,
  .h7 {
    display: inline-block;
    width: auto;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
  }

  p {
    margin: 0 0 1rem 0;
  }
}

.memo {
  border-color: $primary;

  &:before {
    color: $primary;
    content: "MEMO";
  }
}

.jinbutu {
  border-color: $blue-border;
  padding-top: 2em;

  &:before {
    color: $blue-border;
    content: "人物";
  }

  h3,
  h4,
  h5,
  h6,
  .h7 {
    background-color: $lightblue;
    padding: .5em 1rem;
  }
}

.sanko {
  border-color: #4db6ac; //$success

  &:before {
    color: #00695c;
    content: "参考";
  }

  h3,
  h4,
  h5,
  h6,
  .h7 {
    background-color: #4db6ac; //$success
    color: white;
    padding: .5rem 1rem;
  }
}

.syosai {
  border-color: #bcaaa4;
  color: #5d4037;

  &:before {
    color: #5d4037;
    content: "詳細";
  }

  ul {
    padding-left: 1rem;
  }

  ul,
  ul li {
    list-style-type: none;
    margin-bottom: 0;
  }

  li {
    &:before {
      content: "\f061";
      font-family: FontAwesome;
      font-size: 1rem;
      margin-left: -17px;
      margin-right: 10px;
    }
  }
}

.point {
  @extend .text-secondary;
  margin: 2rem 0;

  h3,
  h4,
  h5,
  h6,
  .h7 {
    display: inline-block;
    float: left;
    max-width: 35%;
    margin: 1rem 1rem 0 0;
    color: white;
    background-color: #ee6e73; //primary
    padding: .5rem;
    font-size: 1rem;
  }
}

.blue-box {
  @extend .bg-success;
  @extend .text-light;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  margin: 0 0 3rem 0;
  padding: 2rem 1rem 1rem 1rem;

  h3,
  h4,
  h5,
  h6,
  .h7 {
    margin-top: 0;
    padding: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.5rem; // 24px

    &:before {
      display: none;
    }
  }

  a {
    @extend .text-dark;
  }
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h6 + h7,
h6 + .h7 {
  margin-top: 0;
  margin-bottom: .5rem;
}

@include media-breakpoint-up(md) {
  .entry-content {
    .point {
      margin-left: 2rem;
    }
  }
}
