a.btn-flat {
  font-size: $small-font-size;
  color: black;
  padding: 5px;
  background-color: gray('200');
  margin: 0 .3rem .3rem 0;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

.waves-effect {
  transition: .3s ease-out;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
}

.materialize-red-text {
  color: $primary;
}

.marker {
  background: linear-gradient(rgba(255, 232, 255, 0) 0%, #fff9c4 0%);
}

.alignright {
  @extend .float-right;
}

.alignleft {
  @extend .float-left;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;

  & > img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
}

.entry-content {
  .alert {
    & > h4 {
      @extend .alert-heading;
      margin: 0 0 .5rem 0;
      font-weight: 500;
      line-height: 1.2;
      background-color: inherit;
    }
  }
}
