.entry-content {

  // 世界史・日本史　目次
  .mokuji {
    h2 {
      border-bottom: 5px solid #eee;
      margin: 0;
      padding: 10px 0;
      font-weight: 400;
      counter-increment: counter-h2;
      counter-reset: counter-h3;
    }

    h3 {
      margin: 2em 0 1em;
      counter-increment: counter-h3;
      counter-reset: counter-h4;
      //		background-color: color( 'light-blue', 'lighten-4');
      font-size: 1rem;
      padding: 5px 10px 5px 0;

      &:before {
        content: counter(counter-h3)"章";
        margin-right: 5px;
        background-color: pink;
        padding: 0 5px;
      }
    }

    h4 {
      margin: 1em 0;
      counter-increment: counter-h4;
      counter-reset: counter-li;
      padding: 0 0 0 1em;
      font-size: 1rem;
      background-color: inherit;

      &:before {
        content: counter(counter-h4);
        margin-right: 0.6em;
      }
    }

    ul {
      margin-bottom: 1rem;
      list-style-type: none;

      li {
        counter-increment: counter-li;

        &:before {
          content: counter(counter-li);
          margin-right: 0.6em;
        }
      }
    }

    h3,
    h4 {
      a {
        color: $success;
      }
    }

    a:hover {
      color: $secondary;
    }
  }

  .sharedaddy {
    ul {
      li:before {
        display: none;
      }
    }
  }
}
