// typograhy
.jumbotron-mini {
  h1 {
    &.entry-title {
      color: gray("800");
      margin-top: 5px;
      font-size: 2rem;

    }
  }

  @include media-breakpoint-up(sm) {
    h1.entry-title {
      margin: 5px 0 1rem 0;
    }
  }
}


///* small font */

.taxonomy-description,
.wpv-filter-form,
.breadcrumbs,
.syosai,
#left-sidebar,
.small,
small {
  font-size: $small-font-size; //14px
  line-height: 1.6;
}

//page link
.pagination {
  .page-item {
    a {
      @extend .page-link;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "UD Shin Go Conde90 R";
}
