.widget {
  ul {
    list-style: none;
    padding-left: 0;
  }

  .widget-title {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
    margin: 0 -20px 1rem -20px;
    color: black;
  }

  a {
    color: #6c757d;

    &:hover {
      text-decoration: none;
      color: black;
    }
  }

}

#right-sidebar,
.g-post-widget {
  @extend .text-secondary;
  line-height: 1.6;
  font-size: $small-font-size; //14px;

  p {
    margin-bottom: 0;
  }

  .this-info {
    i {
      margin-right: 5px;
    }
  }

  .fa {
    color: $blue2019;
  }

  .widget-title {
    @extend .bg-info;

  }

  .widget:not(.widget_custom_html) {
    @extend .shadow-sm;
    overflow: hidden;
    padding: 0 10px 10px;

    &.widget_update {
      box-shadow: none !important;
      padding: 0;

      .widget-title {
        padding: 17px 30px;
      }

      .row {
        padding: 0 13px;
      }
    }

    .image-title {
      // update widget
      line-height: 1.1;
      margin-bottom: .5em;

    }

    .rounded {
      margin-bottom: .2em;
    }

    .col-6 {
      padding: 0 2px;
    }

    .card {
      line-height: 1.1;

      .card-body {
        padding: 5px;
      }
    }
  }

  // timeline search
  .searchandfilter {
    ul li {
      margin-bottom: 5px;
    }

    li.sf-field-submit,
    li.sf-field-reset {
      display: inline-block;
      width: 50%;
      padding-top: 10px;
    }
  }

  // glossary
  .wpg_widget_related_posts {
    ul {
      li {
        margin-bottom: 5px;

        a:before {
          content: "\f0da";
          font-family: fontawesome;
          margin-right: 5px;
        }
      }
    }
  }

  // post infomation
  .type {
    border-bottom: 1px dashed #ccc;
    color: gray('800');
    font-weight: 600;
  }

  .value {
    padding: 10px 0;
  }

  // download
  .widget_wpdm_topdownloads {
    padding-bottom: 1rem;
  }

  //profile, movie

  dt {
    border-bottom: 1px dashed #eee;
    color: gray('800');
  }

  dd {
    padding: 10px 0;
    margin: 0;
  }
}

.widget_rss,
.widget_recent_entries,
.widget_categories {
  li {
    margin-bottom: .5rem;

    &:before {
      content: "\f0da";
      font-family: FontAwesome;
      margin-right: .5rem;
    }
  }
}


// Left sidebar
#left-sidebar {
  .widget-title {
    font-size: $small-font-size;
    font-weight: bold;
  }

  a {
    @extend %black-link;
  }

  ul {
    li {
      margin-bottom: 0;
    }
  }

  .widget {
    padding: 0 10px;

    &.widget_search_filter_register_widget {
      ul li {
        margin-bottom: .5rem;
      }
    }
  }
}



@include media-breakpoint-up(sm) {
  #left-sidebar {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  #left-sidebar {
    line-height: 1.6;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}
